%html
  %head
    %meta{'charset' => 'UTF-8'}
    %title= "#{settings.name}: #{@title}"
    %link{'href' => '/css/design.css', 'rel' => 'stylesheet'}
    %link{'href' => '/css/monokai.css', 'rel' => 'stylesheet'}
  %body
    %a{:href => '/', :id => 'link'}
      #header
        %h1= settings.name
        %h2= settings.description
    = yield
