%html
  %head
    %meta{'charset' => 'UTF-8'}
    %title= "#{settings.name}: #{@title}"
    %link{:rel => 'stylesheet', :href => '/css/design.css'}
    %link{:rel => 'stylesheet', :href => '/css/monokai.css'}
  %body
    #menu
      %a.menuentry{'href' => 'http://kurt.yuweb.fr/2011/06/10/projects', 'title' => 'Author blog'} Powered by Yublog
    %a{:href => '/', :id => 'link'}
      #header
        %h1= settings.name
        %h2= settings.description
    = yield
  - @javascripts.each do |js|
    = "<script src='/js/#{js}.js' type='text/javascript'></script>"

